.user {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #4b0082;
    z-index: 1;
  }
  
  .title {
    margin: 5% 0;
    font-family: 'glith-globlin', serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 35px;
  }
  
  .formContainer {
    width: 30%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }